/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 09/11/2023, 16:53:44
    Author     : Programacion
*/
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

<script>
        $.blockUI.defaults.css = {
            padding: 0,
            margin: 0,
            width: '30%',
            top: '40%',
            left: '35%',
            textAlign: 'center',
            color: '#000',
            border: '0px solid #aaa',
            backgroundColor: 'transparent',
            cursor: 'wait'
        };
        $.blockUI.defaults.overlayCSS.backgroundColor = '#b4bab4'; //5E655E b4bab4 eac99a ff0000
        $.blockUI.defaults.overlayCSS.opacity = 0.5;
        $.blockUI.defaults.message = '<b:spinner name="refresh" size="4x" style-class="spiner"/>';
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.71/pdfmake.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.71/vfs_fonts.js"></script>

.button-info {
    look: info;
}

.button-full-width {
    large-screen: full-width;
}